node_modules/
.venv/
dist/
/artifacts/
/assets/

.env
*.local

prisma/dev.db
prisma/dev.db-journal

*.tsbuildinfo
vite.config.js
vite.config.d.ts

__pycache__/
*.py[cod]
.pytest_cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
